body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
    background-image:linear-gradient(rgba(77, 131, 124, 0.5),rgba(218, 174, 118, 0.5),rgba(233, 120, 27, 0.5));
    background-repeat: no-repeat;
    height:100vh;
}

.container {
    max-width: 1800px;
    margin: 400px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.0); /* Greenish background with transparency */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #000000;
    margin: 0;
    font-size: 2.5em;
}

.header p {
    color: #0f0f0f;
    font-size: 23px;
}

.content h2 {
    color: #856b04; /* Light yellow color for subheadings */
    margin-top: 20px;
}

.content p, .content ul {
    color: #000000;
    line-height: 1.6;
}

.content ul {
    list-style-type: disc;
    margin-left: 20px;
}

navbar
#logo{
    height:150px;
    width:250px;
    text-align: center;
    font-size: 70px;
    background-image: url("logo(1).png");
    background-size: cover;

}

li{
    display:inline;
    margin-right:50px;
}
#nav-bar{
    display:flex;
    font-size: 25px;
    height:150px;
    background-color: rgba(5, 5, 5, 0.5);
    justify-content: space-evenly;
    align-items: center;


}
#log{
    margin-right:500px;
    font-size: 35px;

}
.an{
    color:white;
    text-decoration: none;
}
/* footer */ 
.footer{
    height:500px;
    /* background-color:#466060; */
    opacity:0.75; 
     /* background-color:#08415C;  */
    background-color: rgba(255,255,255,0.5);
    display:flex;
    padding:50px 0;
    justify-content:space-around;
    color:rgb(27, 16, 3) ;
    font-weight: 35em;
   font-size: 20px;
}
.copyright{
    background-color: #388697;
    opacity:0.95;
    height:40px;
}
.copyright
{   padding:20px 0;
    display: flex;
    justify-content: center;
    color: bisque;
}
p{
    margin-bottom: 15px;;
}
.a{ 
     text-decoration: none;
    color:rgb(2, 2, 2) ;
    font-size: larger;
    display: block;
}  
